h1 {
  color: rgb(1, 29, 34) !important;
  text-align: center;
  margin-bottom: 30px;
}

body {
  background-color: rgb(164, 202, 164);
  margin: 1%;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  
}

nav {
  margin-bottom: 2%;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px green, 0 0 1em blue, 0 0 0.2em blue;
}
li {
  list-style-type: none;
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(5, 78, 83);
  height: 50px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(5, 78, 83);
  margin-left: 30%;
  margin-right: 30%;
  padding: 50px;
}

button {
  background: rgb(1, 29, 34) !important;
  padding: 20px;
  color: white !important;
  margin-top: 20px;
}
.tablebis {
  background: rgb(1, 29, 34) !important;
  color: white;
}

.blue {
  color: rgb(1, 29, 34) !important;
}

.required {
  color: white;
}

.logout {
  position: absolute;
  bottom: 1px;
  color: rgb(1, 1, 15);

  right: 1px;
}

.delete {
  width: 300px;
  background: transparent;
}

label {
  color: white;
}

@media (max-width: 650px) {
ul {
    flex-direction: column;
    height: 20%;
    width:100vw;
  }

  form {
    margin-left: 0;
    margin-right: 0;
  }

  .logout {
    display: none;
  }

  .none{
    display:none;
  }
}
