{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table tablebis">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
        </tbody>
    </table>
<div>
    <a href="{{ path('category_index') }}">Retour à la liste</a>
</div>
<div>
{% if app.user %}
    <a href="{{ path('category_edit', {'id': category.id}) }}">| Modifier</a>
    {% endif %}
   </div>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
