{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produits actuels</h1>

    <table class="table tablebis">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th class="none">Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th class="none">Création</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.name }}</td>
                <td class="none">{{ produit.description }}</td>
                <td>{{ produit.quantity }}</td>
                <td>{{ produit.price }}</td>
                <td class="none" >{{ produit.datecreate|date("d/m/Y") }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                     {% if app.user %}
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">| edit</a>
                      {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}

    <a class="blue" href="{{ path('produit_new') }}">Create new</a>
    {% endif %}
{% endblock %}
