<table class="table tablebis">
<h1>PRODUITS EN VENTE ACTUELLEMENT<h1>
        <thead>
            <tr>
               
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                
                <td>{{ produit.name }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.quantity }}</td>
                <td>{{ produit.price }}</td>
                
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    {% if showEdit %}
                    <a  href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>