<form method="post" action="{{ path('myuser_delete', {'id': myuser.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ myuser.id) }}">
    <button class="btn">Delete</button>
</form>
