{% extends 'base.html.twig' %}

{% block title %}Edit Myuser{% endblock %}

{% block body %}
    <h1>Edit Myuser</h1>

    {{ include('myuser/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('myuser_index') }}">back to list</a>

    {{ include('myuser/_delete_form.html.twig') }}
{% endblock %}
