{% extends 'base.html.twig' %}

{% block title %}Myuser index{% endblock %}

{% block body %}
    <h1>Myuser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for myuser in myusers %}
            <tr>
                <td>{{ myuser.id }}</td>
                <td>{{ myuser.username }}</td>
                <td>{{ myuser.roles ? myuser.roles|json_encode : '' }}</td>
                <td>{{ myuser.password }}</td>
                <td>
                    <a href="{{ path('myuser_show', {'id': myuser.id}) }}">show</a>
                    <a href="{{ path('myuser_edit', {'id': myuser.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('myuser_new') }}">Create new</a>
{% endblock %}
