{% extends 'base.html.twig' %}

{% block title %}New Myuser{% endblock %}

{% block body %}
    <h1>Create new Myuser</h1>

    {{ include('myuser/_form.html.twig') }}

    <a href="{{ path('myuser_index') }}">back to list</a>
{% endblock %}
