{% extends 'base.html.twig' %}

{% block title %}Myuser{% endblock %}

{% block body %}
    <h1>Myuser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ myuser.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ myuser.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ myuser.roles ? myuser.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ myuser.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('myuser_index') }}">back to list</a>

    <a href="{{ path('myuser_edit', {'id': myuser.id}) }}">edit</a>

    {{ include('myuser/_delete_form.html.twig') }}
{% endblock %}
